*{
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: "font";
    src: url("/BalooBhaijaan-Regular.ttf");
}

@font-face{
    font-family: "satcha";
    src: url("/Baloo2-Regular.ttf");
}

h2{
    font-size: 40px;
    font-family: "font", BalooBhaijaan ;
}

p{
    font-family: "satcha", Baloo2;
    font-size: 16px;

}


button{

    font-family: "font", BalooBhaijaan ;
}

body{
    overflow-x: hidden;
}

// Star Nav Bar //

.navigation{

    font-family: "font", Baloo Bhaijaan ;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     margin-left: 10px;  
     margin-right: 10px;  

        .navigation2{
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 40px;
        justify-content: space-between;
        justify-content: space-evenly;


        a{
            text-decoration: none;
            font-size: 38px;
            margin-left: -25px;
            color: rgb(0, 62, 84);
            
            
        }
    
     }

    

 

 .con{
    color:  rgb(215, 123, 65);
}


.ervices{
    margin-right: 100px;
}

.Submit{
    margin-right: 100px;
}

.logo1{
    display: flex;
    justify-content: start;
}

}

// End Nav Bar //


// Start banner //

.banner{
    font-family: "font", Baloo Bhaijaan ;

    
    h1{
        font-size: 40px;
       
        
        color:rgb(0, 62, 84) ;
    }
    h1{
        font-size: 73px;
        font-weight: 900;
    }
    
        

        img{
            width: 100%;
            
     }
    .rect6{
        margin-top: 134px;
        margin-left: -20px;
        object-fit: contain;
        width: 100%;
    }

.rect3{
    object-fit: contain;
    margin-top: 7px;
    width: 100%;
}

.rect4{
    object-fit: contain;
    margin-left: -20px;
    margin-top: 15px;
    width: 100%;
}

.grp{
    object-fit: contain;
    margin-top: -2px;
    width: 100%;
    margin-left: -10px;
}
   
    h2{
        
        color: rgb(0, 62, 84);
        font-family: "font", Baloo Bhaijaan ;
    }
        

   
     .nowalls{
        color:rgb(215, 123, 65) ;
        font-size: 50px;
     }

   .main{

    display: flex;
   }


     .logo1{
        display: flex;
        margin-left: 30px;
     }

    

     .pok{

        margin-bottom: 15px;
     }

     .line1{
        border :1px solid rgb(215, 123, 65);
        height: 1px;
        width: 45px;
       margin-top: 10px;
        
     }

     .ptag{
        margin-left: 50px;
        font-weight: bold;
     }

     .flex{

        display: flex;
        flex-direction: row;
    
     }

     .ptag{
        margin: 6px;
        margin-top: 2px;
     }

     .opa{
        opacity: 35%;
        margin-top: -3px;
        margin-left: 50px;
        margin-right: 50px;

     }


     .your{
        margin-left: 56px;
        margin-right: 56px;
     }


     .single{
height: 6vh;
margin-top: -7px;
width: 100%;
margin-left: 25px;

     }

     .single3{
        height: 6vh;
        margin-top: -5px;
        width: 104%;
        margin-left: 0px;
        
             }
     


             .twin{
                height: 6vh;
                margin-top: -5px;
                width: 340px;
                margin-left: -4px;
                
                     }


                     .single1{
                        height: 6vh;
                        margin-top: -7px;
                        width: 93%;
                        margin-left: 8px;
                        
                             }
}

// End banner //


// Start About //

.bout{

    .look{

        display: flex;
    }
    
    padding-top: 90px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-self: auto;



    p{

        width: 649px;
    }
    // img{
    //     margin-left: 100px;
    //     margin-top: 144px;
    //     width: 75%;
    // }
    h2{
        color: rgb(215, 123, 65);
        margin-bottom: 20px;
        margin-right: 37px;
    }


    img{

        margin-left: 150px;
        width: 85%;
        // margin-top: -20px;
    }

    .hd{
        padding-top: 90px;
    // padding-bottom: 70px;
    margin-left: -9px;
    }

    .about{

        margin-left: 50px;
        margin-right: 50px;
    }
}

// End About //


    
// Start services //

.services{

   background-color: rgb(0, 62, 84);
   padding-bottom: 60px;
   
   
   
    .service{

        margin-left: 40px;
        
    }
    
   

    h2{
   
  font-family: "font", BalooBhaijaan ;
   color: white;
   margin-left: 30px;
   margin-top: 15px;
   position: absolute;
   

   } 
    
   .card{
     background-color: rgb(8, 77, 102);
    color: white;
    width: 25rem;
    margin-top: 85px;
    border-color:rgb(8, 77, 102) ;
   
    
    }
    
    a{
    text-decoration: none;
    font-size: 27px;
    font-weight:900 ;
   
    }
    
    h5{
   color: rgb(215, 123, 65);
   font-family: "font", BalooBhaijaan ;
  
   
   
    
    }
    
    .line{
     width: 355px;
   border: 1px solid rgb(215, 123, 65);
    // height: 1px;
  
    // margin-bottom: 10px;
    
    }
    
   .objects{

    display: flex;
    justify-content: space-around;
   }
    
    }
    
    .carousel-indicators{
     button {
//    width: 15px;
    height: 15px;
   margin-bottom: -120px;
    border-radius: 50%;
    // padding-bottom: 50px;
    }
    
   }
    
    .card-text{
    font-family: "satcha", Baloo2;
    
    }
    
    // End Services //
    
     
   
// Start Subscribe //
.subscribe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
    
   


    .button{

        background-color: #0B394D;
        padding: 15px;
        width: 260px;
        margin-top: 40px;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: white;
        font-family: "font", BalooBhaijaan ;

    }


    h2{
        color: #CD7E50;
        margin-bottom: 40px;
    }

img{

    margin-left: 40px;
    width: 40%;
    height: 60vh;
}

}
   
    

// End Subscribe //


// Start Contact //

.contact{
    
    background-color:rgb(243, 244, 246);
   border-style: none;
    text-align: center;
    padding-bottom: 80px;
  

  img{
    
    height: 100vh;
    width:70%;
    object-fit:  fill;
  }
  

  .forms{
  
    margin-left: 150px;
    width: 25%;
    border-style: none;
    background-color: rgb(243, 244, 246);
    
    
  }
  a{
    text-decoration: none;
    color: white;
   
  }
  .button{
    background-color: #0A3140;
    padding: 15px;
    width: 541px;
    margin-left: 41px;
    margin-top: 5px;
    
  }

  h2{
    color: #CD7E50;
    padding-top: 70px;
    margin-right: 90px;
  }

  .message-box{
    margin-top: 14px;
    border-style: none;
    color: rgb(128, 151, 160);
    padding-top: 10px;
    padding-left: 13px;
    margin-left: -108px;
    width: 541px;

   
  }

  p{

    margin-right: 70px;
  }

  .former{
    
    border-style: none;
    padding: 15px;
    color: rgb(128, 151, 160);
    width:541px;
    margin-left: -108px;
    
  }


  .get{
    margin-left: 60px;
    
  }

  .rect76{

// height: 70vh;
margin-top: 70px;
  }
}


// End Subscribe //


// Start Below Footer //

   .Nowalls{
    background-image: url("img/Group\ 9.png");
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    color: white;
    margin-top: 80px;

   .image4{

    height: 70vh;
    background-repeat: no-repeat;
   }

.phonenumber{
   
    display: flex;
    margin-left: 150px;
}
.samora{
   
    display: flex;
    margin-left: 30px;
 
}

h2{
    font-family: "font", BalooBhaijaan ;
    margin-left:40px ;
    padding-top:  90px;
}

.heritage{
    font-family: "font", BalooBhaijaan ;
    margin-left: 25px;
    margin-top: -3px;
}


.paaaa{
    margin-left: 20px;
    font-family: "font", BalooBhaijaan ;
    margin-top: -6px;
}

.ppp{
    margin-left: 20px;
        display: flex;
        // justify-content: space-between;
        padding-top: 10px;
        
    }

}



// End Below Footer //


// Start Footer //

.loggo{
    font-family: "font", BalooBhaijaan ;
   
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        padding-top: 15px;
        
    }
}

// End Footer //


@media(max-width:576px)


{
.dropdown{
    display: flex;
}
   
    
  .navigation{
 img{
       display: none;
     }
    .navigation2{
        display: none;
    }
  }
    .banner{
        margin-left: 12px;
        margin-right: 12px;


        .your{
            margin-left: 12px;
            margin-right: 12px;
        }
        h1{
         font-size: 23px;
        }

        h2{
font-size: 15px;

        }

        .nowalls{
           font-size: 22px; 
        }

        .ptag{
         font-size: 10px;   
        }


        .grp{
            display: none;
        }

        .rect6{
            display: none;
        }

        .rect4{
            display: none;
        }

        .opa{
            display: none;
        }
    }
    .header{
        img{
            width:40% ;
        }
    }


    .bout{
        margin-right: 52px;
        padding-top: 10px;
        padding-bottom: 5px;

      h2{
       font-size: 20px; 
       margin-left: -26px;
    
      } 
      
      p{
        font-size: 10px;
    margin-left: -26px;
    width: 331px;
      }

      img{
        // margin-bottom: 25px;
        // width: 70%;
        // margin-right: 127px;
        // margin-left: 52px;
        // margin-top: -2px;

        display: none;
      }

      .hd{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 77px;
        // margin-right: 12px;


      }
      
    }


    .services{

        .service{
            margin-left: 2px;
        }
   
        h2{
            font-size: 20px;
            margin-left: 26px;
    }
.objects{
    display: flex;
    flex-direction: column;
}
   

    .card-img-top{

        width: 95%;
    }

    h5{
        // margin-left: 157px;
        font-size: 15px;
    }

    .card-text{

        width: 200px;
        // margin-left: 120px;
        font-size: 12px;
    }


    .card{

        margin-top: -2px;
        width: 20rem;
        margin-left: 25px;
    }

    
.line{
    width: 299px;
}

    .carousel-indicators{
    display: none;

    }


    
}


.subscribe{

    display: flex;
    flex-direction: column;


    img{
    width: 170%;
    height: 5q  q1  0vh;
    margin-top: -3px;
    margin-left: 10px;
    object-fit: contain;

    }


    h2{
      font-size: 24px; 
      margin-bottom: 30px; 
      margin-left: -62px;
    }

    .button{
        padding: 15px;
        font-size: 14px;
        margin-left: -62px;
    }
}

.contact{

    img{
       display: none;
    }

    h2{
       font-size:25px ; 
       margin-right: 48px;
    }

    p{
        font-size: 10px;
        margin-right: 53px;
    }

    .forms{
        margin-left: -2px;
        width: 85%;
    }
    .former{
        width: 100%;
        margin-left: 35px;
    }

    .button{
        margin-left: 32px;
        width: 86%;
    }

    .message-box{
        width: 100%;
        margin-left:33px ;
    }

    .rect76{
        display: none;
    }
}


.Nowalls{


    height: 40vh;
 img{
    background-size: cover;
    background-position: right;  
 } 
 .samora{

    margin-left: 8px;
 }
  h2{
    margin-left: 32px;
    font-size: 16px;
  }
 
  .phonenumber{
    margin-left: 21px;
}

p{
    font-size: 14px;
}
}

.loggo{


    image{

        height: 26vh;
    }

    img{
        width: 40%;
        padding-top: 1px;
        height: 14vh;
        
    }

}

}




@media only screen and (min-width:577px) and (max-width:768px){

    .navigation{
        img{
              display: none;
            }
           .navigation2{
               display: none;
           }
         }
        
   

//     .navigation{

//         img{
//             width: 246px;
//         }

//         a{

//             margin-left: -59px;
//         }

        
//         .navigation2{
//            font-size: 21px;
//            margin-top: 42px;
//            display: flex;
//            margin-right: 102px;
//            margin-left: 35px;

//            .ervices{
// font-size: 21px;
// // margin-right: 30px;
// // margin-top: 10px;
//            }

//            .Submit{
//             // margin-right: 30px;
// font-size: 21px;
// // margin-top: 10px;
//            }
// .con{
//     margin-top: 1px;
// font-size: 21px;
// margin-bottom: -112px;
// position: absolute;

// }

        
    

    .banner{
        h1{
            font-size: 50px;
        }
.col-md-3{
 width: 100%;   
}

    h2{
        font-size: 30px;
    }

    .nowalls{
        font-size: 40px;
    }
.grp{
    display: none;
}

.rect6{
    display: none;
}

.rect4{display: none;}

.opa{display: none;}

    }


.bout{

    padding-top: -9px;
    h2{font-size: 30px;
    margin-top: -114px;
    }
    img{
    // width: 130%;
    // margin-top: 100px;
    // margin-top: 200px;

    display: none;
    }

    .hd{
        margin-left: 8px;
        padding-top: -9px;
    }
    

}
.services{
   
    
    .carousel-indicators{display: none;}
    .line{
        width: 600px;
    }

    .card-text{
        font-size: 22px;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width:43rem;
    }
    .objects{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 42rem;
    }


    .line{
       font-size: 600px; 
    }

    img{
        width: 100%;
    }

    h5{
        font-size: 2.25rem;

    }
}

.subscribe{

    img{
        height: 45vh
        ;
        width: 57%;
        object-fit: contain;
    }
    h2{
        font-size: 27px;
    }
    .button{font-size: 15px;}
}

.contact{
img{
    display: none;
}
h2{
    margin-right: 100px;
    font-size: 30px;
}
p{
    font-size: 20px;
    margin-right: 60px;
}

.forms{
    margin-right: 15px;
    margin-left: 56px;
    margin-top: 21px;
    width: 87%;
}
.message-box{
    width: 100%;
    margin-left: -9px;
}
.former{
    width: 100%;
    margin-left: -9px;
    margin-top: 21px;
}

.button{
    margin-right: 15px;
    margin-left: 56px;
    width: 87%;
    padding: 27px;

}

 .col-md-6{
    width: 100%;
}

}
.Nowalls{
    height: 39vh;
    .samora{
        margin-left: 43px;
        margin-top: 60px;
    }

    .heritage{
        width: 176px;
        margin-top: -6px;
    }

    .phonenumber{
        margin-top: 60px;
    }

    p{font-size: 20px;}


    h2{
        padding-top: 100px;
    }

    .ppp{
margin-left: 5px;
    }

    .paaaa{
        width: 166px;
        margin-top: -5px;
    }
}
.loggo{

    img{
        margin-bottom: 21px;
    }
}




}


@media only screen and (min-width:993px) {
    .header{
        display: none;
    }
}



@media only screen and (min-width:993px) and (max-width:1024px){


    // .rect76{
    //     height: 50vh;
    // }

    .navigation{


       

        .navigation2{

            a{

                margin-left: -2px;
                font-size: 29px;
            }
            
            .Submit{ margin-right: 43px}

            .ervices{
                margin-right: 32px
            }
        }


}


    .banner{


        
  .rect6{
    margin-top: 106px;
    margin-left: 2px;
}


.grp{
    margin-top: -58px;
    margin-left: 2px;
}

.rect4{
    margin-top: -30px;
    margin-left: 3px;
}



.single{

    height: 4vh;
    margin-top: -4px;
    width: 100%;
    margin-left: 36px;
}



.single1{

    height: 4vh;
    margin-top: -1px;
    width: 98%;
    margin-left: 24px;
}


.single3{

    height: 4vh;
    margin-top: -5px;
    width: 104%;
    margin-left: 0px;
}



.twin{

    height: 4vh;
    margin-top: -3px;
    width: 340px;
    margin-left: -4px;
}
  


        .opa{
            margin-top: -55px;
        }
    }


    .bout{

        .hd{

            margin-left:11px;
        }
h2{

    margin-top: -62px;
}

        p{
            width: 366px;
        }


        img{

            margin-left: 80px;
            margin-top: 10px;
            width: 100%;
        }
    }

.services{

    .line{
        width: 232px;
    }

    .card{
        margin-left: 8px;
        width: 17rem;
    }
}
   

    .contact{


        img{

            height: 50vh;
        }

        .rect76{
            height: 50vh;
        }

        .former{

            width: 438px;
        }

h2{
    margin-right: 45px;
}

p{margin-right: 45px;}

        .message-box{
            width: 440px;
        }

        .button{

            margin-left: 12px;
            width: 438px;
        }

    }


    .Nowalls{

        height: 25vh;

        .phonenumber{

            margin-left: 127px;
        }
    }


    .loggo{
        padding: 0px;

        .image{

            height: 14vh;
        }
    }
}


/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "font", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    // background-color: var(--black);
    // box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 14px 6px;
    background-color: #000;
    margin-top: 22px;
    margin-right: 19px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


@media only screen and (min-width:993px) and (max-width:1024px) {
.banner{

    .rect3{
        margin-top: 8px;
    }

    .rect4{

        margin-top: -30px;
    }

    .rect6{

        margin-top:106px ;
        margin-left: 2px;
    }

    .grp{

        margin-top:-58px ;
    }
}

    .contact{

        .forms{
            margin-left: 116px;
            
        }

        .rect76{
          height: 30vh;
          object-fit: contain;
        }

        .message{

            width: 258%;
        }
    }

    .subscribe{

        .hump{
            object-fit: contain;
            height:30vh;
            width: 45%;
        }
    }


    .Nowalls{

        img{
           height: 23vh; 
        }
    }
    
}
